sudo: false
language: node_js
node_js:
- '4'
- '5'
- '6'
notifications:
  irc: irc.mozilla.org#jpm
before_install:
# Create a master branch for conventional-changelog-lint
- git remote set-branches origin master && git fetch
- git checkout master
# Check out the commit that TravisCI started on:
- git checkout -
# Set up Xvfb for the Firefox GUI.
- export DISPLAY=:99.0
- /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile
  --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16 -extension RANDR
# On 0.10, we want to test with the default version of npm, otherwise
# upgrade to the latest.
- if [[ ${TRAVIS_NODE_VERSION:0:1} -gt "0" ]]; then
    npm install -g npm;
  fi
install:
- npm install
before_script:
# Install unbranded Firefox to prevent signing errors.
- npm run get-unbranded-firefox -- --target ../
script:
- export JPM_FIREFOX_BINARY=$TRAVIS_BUILD_DIR/../firefox/firefox-bin
- npm run lint
- npm test
# Run changelog-lint but only on newer versions of Node (because of syntax errors)
- if [[ ${TRAVIS_NODE_VERSION:0:1} -ge "4" ]]; then
    npm run changelog-lint;
  fi
deploy:
  provider: npm
  email: addons-dev-automation+npm@mozilla.com
  skip_cleanup: true
  # This is the API key for npm user 'addons-robot'
  api_key:
    secure: UKzB8YkSmxmYudL+hR1MdRWDmhPi8IOOwdKZSA7DsBhFzH+mxx7wV66K5R83ToQRufMJ9vFrYwmfMefKS4jRgf/FgbO0L+SaeWujGM2NUtjqN+dmmKEuck3vkKJHrY6VyEfz9HWJrpaUyNl8wmlDSayqc2eVPK63R9LmUcnYxbo=
  on:
    tags: true
