before_script:
  - uname -a
  #- url="http://ftp.mozilla.org/pub/mozilla.org/firefox/releases/latest/linux-x86_64/en-US/"
  - url="http://ftp.mozilla.org/pub/mozilla.org/firefox/releases/latest/linux-i686/en-US/"
  - index=`wget -q -O - $url`
  - file=`echo $index | tr '\n' ' ' | sed 's/.*\(firefox-[0-9]*[\.0-9]*.tar.bz2\).*/\1/'`
  - wget -O firefox.tar.bz2 "$url""$file"
  - bzip2 -cd firefox.tar.bz2 | tar xvf -
  - Xvfb :1 -screen 0 1280x960x24 &

script:
  - export JPM_FIREFOX_BINARY=$TRAVIS_BUILD_DIR/jpm/firefox
  - DISPLAY=:1 npm test
